{#
/**
 * @file
 * Default template for displays that use the ticker_type_text style.
 *
 * @see template_preprocess_views_ticker_type_text_view_ticker_type_text()
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 * - options:
 *   - class
 *   - row_class
 *   - item_class
 *   - wrapper_class
 *   - headline_class
 *   - type: Starting tag will be either a ul or ol.
 *   - class: HTML attributes for the list element.
 *   - wrapper_class: HTML attributes for the list element.
 *   - ticker_type_text_config: 
 *     - script_path
 *     - seconds
 *   - path: HTML attributes for the list element.
 *   - ticker_type_text_fields: array of field(s)
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{# {{dump()}} #}
{# {{  dump(options)}} #}

{% set item_attributes = create_attribute() %}
{% set row_attributes = create_attribute() %}
{% set wrapper_attributes = create_attribute() %}
{% set headline_attributes = create_attribute() %}

{# {{dump(ttt_row_attributes)}} #}

{% set options_row_class = options['row_class'] %}
{% set options_item_class = options['item_class'] %}
{% set options_wrapper_class = options['wrapper_class'] %}
{% set options_headline_class = options['headline_class'] %}

{# {{dump(options_row_class)}} #}
{%
  set item_classes = [
    'ttt_item',
    options_item_class,
  ]
%}

{%
  set headline_classes = [
    'ttt',
    options_headline_class,
  ]
%}

{%
  set row_classes = [
    "ttt_items",
    options_row_class,
  ]
%}

{%
  set wrapper_classes = [
    "ttt_container",
    options_wrapper_class,
  ]
%}


{% set field_map = options["ticker_type_text_fields"]["headline"] %}


{% if attributes -%}
  <div{{ attributes.addClass(wrapper_classes) }}>
{% endif %}
  <h3 {{ headline_attributes.addClass(headline_classes)}}></h3>
  {% if row_attributes -%}

  <{{ options.type }} {{ row_attributes.addClass(row_classes)}} > 

    {% for row in rows %}
      {% if item_attributes -%}
        <li {{ item_attributes.addClass(item_classes)  }} >


          {% if field_map == "title" %}
                  
          {{ row.selected_markup_title}}
                
          {% endif %}

        </li>
      {% endif %}

    {% endfor %}

  </{{ options.type  }}>
  {% endif %}
{% if attributes -%}
  </div>
{% endif %}
